// colors
$accentColor = #878787
$accentDarkColor = #e7e7e7
$textColor = #212121
$borderColor = #f3f3f3
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #da5961
